zamp-invoice.duckdns.org {
    encode gzip

    # 1. Catch all /api requests and send to backend
    handle_path /api/* {
        reverse_proxy http://backend:8000
    }

    # 2. Everything else is served as a Single Page Application
    handle {
        root * /srv
        try_files {path} {path}/ /index.html
        file_server
    }
}
