# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
.eggs/
*.so
.venv/
venv/
env/

# Environment
.env
*.env

# DB & uploads
*.db
uploads/

# Node
node_modules/
dist/
.next/
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
